<tr>
  <th scope="row">
    <%= record_index_with_pagination(index: index, relation_class: Event) %>
  </th>
  <td><%= link_to event.name, event_path(event) %></td>
  <td><%= event.category.name %></td>
  <td><%= l(event.event_time, format: :short) %></td>
  <td><%= l(event.reminder_time, format: :short) if event.reminder_time.present? %></td>
  <td>
    <%= button_tag t('.edit'),
                   class: "btn btn-outline-primary",
                   data: { bs_toggle: :modal, bs_target: "##{dom_id(event)}" }%>
  </td>
  <td>
    <%= button_to t('.delete'),
                  event_path(event),
                  class: 'btn btn-outline-danger',
                  data: { confirm: t('.are_you_sure'), turbo_confirm: t('.are_you_sure') },
                  method: :delete %>
  </td>
</tr>
