<p><%= t('.welcome') %> <%= @resource.email %>!</p>

<p><%= t('.someone_requested') %></p>

<p><%= link_to t('.change_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('.didnt_request') %></p>
<p><%= t('.access_link_to_change') %></p>
